<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link th:href="@{styles.css}" th:rel="stylesheet"/>
</head>
<body>



<div id="app">
    <div th:replace="~{Header :: header}")></div>
    <h1>Kalkulator Syropu dla Pszczół</h1>
    <label for="type">Rodzaj:</label>
    <select id="type" v-model="selectedBase">
        <option v-for="base in bases" :value="base">{{ base }}</option>
    </select>

    <label for="amount">Ilość:</label>
    <input id="amount" type="text" v-model="amount">

    <label for="ratio">Stosunek cukru do wody:</label>
    <select id="ratio" v-model="selectedRatio">
        <option v-for="ratio in ratios" :value="ratio">{{ ratio }}</option>
    </select>


    <button @click="calculate">Oblicz</button>

    <div v-if="result !== null">
        <p>Woda: {{ result.water }}</p>
        <p>Cukier: {{ result.sugar }}</p>
        <p>Syrop: {{ result.syrup }}</p>
    </div>
</div>

<script type="module">
    import ShoppingCart from "./ShoppingCart.js"

    const vue = new Vue({
        el: '#app',
        components: {
            'shoppingCart': ShoppingCart,
        },
        data: {
            users: [{name: 'raz'}, {name: 'dwa'}],
            bases: JSON.parse('[[${BaseElementFromSpring}]]'.replace(/&quot;/g, '"')),
            ratios: JSON.parse('[[${RatiosFromSpring}]]'.replace(/&quot;/g, '"')),
            selectedBase: '',
            amount: 0,
            selectedRatio: '',
            result: 0
        },
        methods: {
            async calculate() {
                try {
                    const parsedAmount = parseFloat(this.amount);
                    if (isNaN(parsedAmount)) {
                        console.error("Invalid amount:", this.amount);
                    }
                    const response = await fetch('/api/calculate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            base: this.selectedBase,
                            ratio: this.selectedRatio,
                            amount: parsedAmount,
                        }),
                    });

                    if (response.ok) {
                        const result = await response.json();
                        this.result = result; // Przypisz wynik do this.result
                    } else {
                        console.error('Błąd przy wysyłaniu zapytania.');
                    }
                } catch (error) {
                    console.error('Wystąpił błąd:', error);
                }
            }
        }
    });
    vue.$data.selectedBase = vue.$data.bases.length > 0 ? vue.$data.bases[0] : '';
    vue.$data.selectedRatio = vue.$data.ratios.length > 0 ? vue.$data.ratios[0] : '';

</script>

</body>
</html>
