<!-- header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link th:href="@{styles.css}" th:rel="stylesheet"/>
    <title>Header Fragment</title>
</head>
<body>
<header class="page-header" id="header">
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li>
                <div>
                    <a th:href="${@staticRoutesName.BEE_SYRUP_CALCULATOR}">Kalkulator Syropu</a>
                </div>
            </li>
            <li>
                <div>
                    <a th:href="${@staticRoutesName.SHOP}">Sklep miodowy</a>
                </div>
            </li>
            <li>
                <div>
                    <a th:href="${@staticRoutesName.FORUM}">Forum dla pszczelarzy</a>
                </div>
            </li>
        </ul>
    </nav>
    <shopping-Cart id='shoppingCart' ref="shoppingCart" th:getCartUrl="${@APIRoutesName.GetCART()}"
                   th:addCartUrl="${@APIRoutesName.GetCART()}" th:orderUrl="${@staticRoutesName.ORDER}">

    </shopping-Cart>
</header>
</body>
</html>
