<!-- header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header Fragment</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><div>
                <a th:href="${@staticRoutesName.BEE_SYRUP_CALCULATOR}">Kalkulator Syropu</a>
            </div></li>
            <li><div>
                <a th:href="${@staticRoutesName.SHOP}">Sklep miodowy</a>
            </div></li>
            <li><div>
                <a th:href="${@staticRoutesName.FORUM}">Forum dla pszczelarzy</a>
            </div></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
