<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Domowa</title>
    <link th:href="@{styles.css}" th:rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="index"><div th:replace="Header :: #header"></div></div>

<h1>Witaj na stronie domowej!</h1>

<div th:replace="Footer :: footer"></div>

    <script th:inline="javascript" type="module">
        import ShoppingCart from "./ShoppingCart.js"
        const vueApp = new Vue({
            el: '#index',
            components: {
                'shoppingCart': ShoppingCart,
            },

        });
    </script>
</body>
</html>
